/*License Styling*/

.box-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

.box-caption {
    text-align: center !important;
}

.facebook-link:hover {
    font-weight: normal;
    text-decoration: underline;
}



#maskingCanvas {
    margin-bottom: 20px!important;
}

.footer-logo {
    height: 60px;
}

a {

		outline: 0;
}

.squarecrop label {
    display: block;
    text-align: center;
    float: none;
    margin: 0px auto 20px auto;
}

.centerfooter {
    margin-bottom: 2.5%;
}

.footer-description {
    margin: 20px 20px;
}

.facebook-link {
    margin: 20px;
    border-radius: 50px;
    color: #00c4cc!important;
}

html {
    background: #232c38;
}

.footer a {
    width: 26%;
}

.position-footer {
    line-height: 2;
}

.copyright-task {
text-align: center;
}

.position-footer {
    text-align: left;
    height: 186px;
    margin-top: 20px;
}

.company-footer {
	white-space: nowrap;
}

.footer-logo {
    margin-left: 20px;
}

.save_effect:hover, .reset_default:hover {

background: transparent!important;
color: #00c4cc!important;
border: 1px solid #00c4cc!important;

}

.save_effect, .reset_default {

background: transparent!important;
color: #fff!important;
border: 1px solid #fff!important;

}

option:checked {
    background-color: #00C4CC !important;
    font-weight: 600;
}


.modal-body ,.modal-footer {
    border: 1px solid #777;
    background: #232c38;
}

.modal-footer {
border-top: 0px!important;
}
.box-caption {
    position: absolute;
    max-width: 800px;
    font-variant: all-petite-caps;
	font-size: 63px;
}

#raw-material-select,select#material-select {
    background: #222;
    color: #fff;
    border: 1px solid #777;
    height: 204p;
}

/* Standard: Top Center */
.box-flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  text-align: center;
  font-size: 1.2rem;
  word-break: break-word;
  background-color: #333333;
  color: #d9d9d9;
}

.fiveeasysteps li {
    display: inline-block;
    margin: 1%;
}

.fiveeasysteps {
    text-align: center;
}

span.bezeichnungsteps {
    font-weight: 500;
    line-height: 2.5em;
    font-size: 16px;
}

span.Buttondescr {
    color: #fff;
    font-size: 20px;
    font-variant: all-petite-caps;
    padding: 10px;
}
.first-half {
    display: inline-grid;
    margin: auto;
    width: 49%;
	line-height: 2;
	font-size: 18px;
}

.resize-body-border {
    border: 1px solid #777;
}

.tab button.active {
    color: #00C4CC !important;
    border: 1px solid #00C4CC;
	background: #232c38;
}

.tab .tablinks {
    background: #232c38;
    color: #fff;
}

button.new-btn {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px 10px 5px 10px;
    color: #fff;
	margin: 5px;
}

.new-btn:hover {
    background: #00c4cc;
    transition: 0.6s;
}

.new-btn {

outline: 0!important;
}

.modal-content.w-100 {
    border: 1px solid #777;
    background: #232c38;
}

.new-btn img {
    width: 40px;
    margin-left: 15px;
    text-align: right;
}

span.descriptionsteps {
    line-height: 2em;
}

.modal-body .row {
    background: #222;
    color: #fff;
}

button.new-btn {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px;
    color: #fff;
}

div#new-btn-group {
    text-align: center;
}

.new-btn img {
    width: 38px;
}

.modulesimagr {
    text-align: center;
    display: block;
    margin: 35px 0px;
}

.whatsimagr2 {
text-align: left;
}

.box-img {
    width: 100%;
}

.fiveeasysteps li {
    width: 11%;
    padding: 20px;
    color: #fff;
    list-style: none;
    box-shadow: 0px 0px 20px 5px #00000085;
	text-align: left;
}


.whatsimagr  {
	padding: 20px 0px;
	box-shadow: 0px 0px 20px 5px #00000085;
}

/* Box: Center Center */
.box-flex-center {
  align-items: center;
}

h2.imagr-home-h2 {
    font-size: 60px;
    color: #fff;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 30px;
}



.logo img {
    width: 6% !important;
    float: left;
    position: absolute;
    top: 9px;
	left: 20px;
}

.top-nav, .header-imagr {
    position: fixed;
    width: 100%;
    background: #111111b3;
    top: 0;
	z-index: 999;
}

.logo {
    width: 20%;
}


#license_input {
    text-align: center;
}

.form-group {
    text-align: center;
}

.custom_btn.btn-primary {
    text-align: center;
    display: block;
    margin: auto;
}

.row.justify-content-center {
    padding: 0px!important;
}

#licenseInfoBlock {
    color: #fff;
    font-variant: all-petite-caps;
    margin: 10px auto -20px auto;
}

#containerads {
    padding-bottom: 20px;
    padding-top: 20px;
    border: 2px solid #777;
    background: #444;
}

#containerads label {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    font-variant: all-petite-caps;
}

a {
    color: #00C4CC;
}

a:hover {
	color: #00C4CC!important;
	transition: 0.6s;
	text-decoration: none;
}

.update-fb-link a {
    background: #555;
    padding: 5px 20px 10px 20px!important;
    border: 1px solid;
}

.btn-primary {
    color: #fff;
    background: linear-gradient(45deg, rgba(255,194,114,1) 0%, rgba(223,149,44,1) 50%, rgba(224,111,0,1) 100%)!important;
    border: none;
    padding: 6px 10px 10px 10px!important;
    font-variant: all-petite-caps;
    font-size: 18px;
	border: none!important;
}

/*License Styling End*/

/*New Style*/


.home-menu {
    text-align: center;
	width: 74%;
}


.home-menu.Menufunctions {
    width: 35%;
}

.update-fb {
    margin-top: 50px;
}

.mobile-logo {
    margin-bottom: -11px;
}


.adsbygoogle.adsbygoogleee3 {
    height: auto!important;
}

#nextmodules {
    margin-top: -33px;
}

#puzzlecontainer {
    background: #f4f4f4;
    margin-top: 20px !important;
}

.update-fb p {
    font-size: 18px;
    margin-top: 10px;
}

.container > div:nth-child(1) .row {
    border: none;
	background: #222;
}

#mobile-menu a {
	font-variant: all-petite-caps;
    text-align: center;
    background: #000 !important;
    border-bottom: 1px solid #00C4CC;
    padding: 6px 10px 10px 10px;
    line-height: 1.5;
}

#mobile-menu a:hover {
    background: #ffffff29 !important;
    font-weight: 600;
}

#mobile-footer > form:nth-child(1) > input:nth-child(3) {
    margin-top: 20px;
    width: 40%;
}

.modal-header {
	background: #222!important;

}

.slicersettings {
    background: #00C4CC!important;
}

.pl-5.pr-5.pt-2.pb-2.mr-3.btn-sm.btn-danger {
    border-radius: 5px !important;
    font-variant: all-petite-caps;
}

input:checked + .switchSlider {
    background: #00C4CC;
}

.puzzleslicer {
    background: #transparent!important;
	border: 2px solid #00C4CC!important;

}

.puzzleslicer:hover {
    background: #00C4CC!important;
	border: 2px solid #00C4CC!important;
	color: #fff!important;
}


#btn-group {
    margin-top: 1.5%;
}

.home-menu {
    text-align: center;
    padding-top: 15px;
    margin-top: 0px;
    padding-bottom: 19px;
}

.explaination span{
    color: #fff;
}


#advanced {
    background: #fff;
    color: #000;
}

button.pl-5.pr-5.pt-2.pb-2.mr-3.btn-sm.btn-secondary:hover ,button.btn-secondary:hover ,.pl-5.pr-5.pt-2.pb-2.mr-3.btn-sm.btn-danger:hover {
background: #00C4CC!important;
	transition: 0.6s;
	color: #fff;

}

button.pl-5.pr-5.pt-2.pb-2.mr-3.btn-sm.btn-secondary ,button.btn-secondary,.pl-5.pr-5.pt-2.pb-2.mr-3.btn-sm.btn-danger {
    background: transparent !important;
    color: #00C4CC;
    border: 2px solid #00C4CC !important;
	padding: 8px 50px 13px 50px !important;

}

.pl-5.pr-5.pt-2.pb-2.mr-3.btn-sm.btn-secondary {
padding: 8px 50px 13px 50px !important;
border: 2px solid #111!important;
}


.zoom-slider {
    color: #fff;
}

.slider {
	background: #fff;
}

.current {
    color: #fff;
    margin-top: 40px;
}

.puzzleslicer {
    padding: 2px 20px 5px 20px !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 1% 1%;
    width: 100%;
    margin: auto;
    border: 2px solid #00C4CC;
}

.body-rest {
    background: #232C38;
    margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
}

.update-fb {
    color: #fff;
    font-weight: 500 !important;
}

.update-fb-link a, .home-menu a {
    font-size: 20px;
    padding: 2px 2px 2px 10px;
    border-radius: 34px;
    color: #fff;
    font-variant: all-petite-caps;
    margin: 8px;
    font-weight: 200;
}
}

.update-fb-link a:hover, .home-menu a:hover {
text-decoration: none!important;
background: #ffffff5c;
transition: 0.6s;
}

.update-fb {
    text-align: center;
    font-variant: small-caps;
    font-size: 23px;
    padding: 19px 0px 1px 0px !important;
    background: linear-gradient(180deg, rgb(84, 84, 84) 29%, rgb(0, 0, 0) 100%);
}

.logo {
background: transparent;
}

/*End New Style*/


a.buttonslicer {
    background: linear-gradient(0deg, rgba(164,46,237,1) 0%, rgba(76,0,134,1) 100%);
}

table.puzzlemakertable {
    margin: auto;
}


.roundedges .slidecontainer {
    width: 40%;
}

.puzzlemakertable {
    background: #f4f4f4;
    border: 1px solid #ccc;
    width: 55%;
    border-radius: 5px;
    padding: 10px 0px;
}

.adsbygoogle.horizontal3 {
    margin-bottom: 20px;
}

.adshorizontal2 {
    margin-bottom: 20px;
}

#_tabsize, #_jitter, #_seed {
    display: none;
}

.sliderpuzzle{
 	margin-top: 9px;}

.savetiless {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

a.buttonpuzzle {
    background: background: rgb(0,146,255);
    background: linear-gradient(45deg, rgba(0,146,255,1) 0%, rgba(0,249,255,1) 100%);
}

#bigpreviewmodule {
    width: 60%;
}

.puzzlemakertable {
    margin: auto;
    text-align: center;
}

svg#puzzlecontainer {
    margin: auto;
    display: block;
}

.savetiless button {
    border: none;
    background: #111;
    color: #fff;
    font-variant: all-petite-caps;
    font-size: 20px;
    padding: 5px 30px 10px 30px;
    border-radius: 5px;
}

.savetiless button:hover {
    background: #333;
	transition: 0.6s;
}

.cornerradius, .jitter, .tabsize, .seed, .tiles, .size {
    padding-top: 2px;
    display: inline-grid;
    text-align: center;
    font-weight: 600;
    margin: auto!important;
}

.size #width, #height, #widthp, #heightp, #dpi {
    width: 100%!important;
}

.purchaseprice {
    font-weight: 600;
    font-size: 40px;
    color: #36b736;
}

.draganddrop button{
    border: none;
    background: transparent;
}

.draganddrop p {
    text-align: center;
    font-size: 20px;
    color: rgb(114 114 113);
    font-weight: 600;
    margin-top: -1px;
	margin-bottom: 82px;
}

.slicerpieces {
    display: block;
}

.slicersettings {
    text-align: center;
}

#restartButton {
    display: grid;
    width: 31%;
    margin: auto;
}

#restartButton {
    color: #fff;
    background: #111;
    padding: 7px 20px 10px 20px;
    border-radius: 5px;
}



#restartButton:hover {

    background: #333;
    transition: 0.6s;
    text-decoration: none;

}

.slicersettings {
 /*   border: 3px solid #5555; */
    width: 30%;
    margin: 50px auto;
    padding: 10px 0px 20px 0px;
    background: rgb(164,46,237);
    border-radius: 5px;
}

 .Save, .Generate {
    display: inline-block;
	font-variant: all-petite-caps;
	font-size: 18px;
}

#restartButton a:hover, .Save button:hover, .Generate button:hover {
	background: #333;
	transition: 0.6s;
}



.slicersettings button {
    float: none;
    display: block;
    text-align: center;
    margin: 10px auto;
    background: #111;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    width: 133px;
}


select#Pieces {
    display: block;
    width: 76%;
    text-align: center!important;
    margin: auto;
}


.slicersettings label {
    text-align: center;
    display: block;
    font-variant: all-petite-caps;
    font-size: 17px;
    font-weight: 500;
	color: #fff;
}

.draganddrop img {
    width: 49%;
    display: block;
    margin: auto auto -70px auto;
}

.draganddrop {
    width: 36%;
    display: block;
    margin: 30px auto 0px auto;
    background: rgb(223,223,223);
    background: linear-gradient(0deg, rgba(223,223,223,1) 0%, rgb(199 199 199 / 42%) 100%);
    border: 3px solid #ccc;
    border-radius: 10px;
    padding-bottom: 64px;
}

.peoplemade {
padding-top: 3%;
}

body, html{
    margin: -10px 0px;
    padding: 0px;
    background: #232c38;
}

.purchaseprice {
    font-weight: 600;
    font-size: 40px;
    color: #36b736;
}

.adsunderneath {
    margin-top: 40px;}


.googleadsleft2 {
    float: left;
    margin-left: 1.2%;
    margin-top: 0px;
}

.googleadsright2 {
    float: right;
    margin-right: 1.2%;
    margin-top: 0px;
}

.googleadsright {
    float: right;
    margin-right: 6%;
    margin-top: -16%;
}

.googleadsclass .adsbygoogle {
    margin-right: 50px !important;
    margin-left: 50px;
}

.googleadsclass2 .adsbygoogle {
    margin-right: 50px !important;
    margin-left: 50px;
}

.googleadsleft {
    float: left;
    margin-left: 6%;
    margin-top: -16%;
}

#contrastInput {
    width: 28%;
    margin-top: 8px;
    margin-bottom: -3px;
}

#contrastDIV > label:nth-child(1),#brightnessDIV > label:nth-child(1) {
    margin-bottom: 7px !important;
}

.googleadsclass2 {
    text-align: center;
}

.googleadsclass {
    display: block ruby;
    text-align: center;
    margin-top: 30px;
    margin-top: 20px;
}

.slidecontainer {
    display: inline-block;
    width: 80%;
}
.faqheader {
    list-style: none;
    font-weight: 600;
    font-variant: all-petite-caps;
    font-size: 20px;
}
.faqimagr {
	font-size: 16px;
    width: 50%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f6f6f6;
    text-align: center;
    padding: 20px 20px 20px 0px;
}

input#brightness {
    margin-bottom: 10px !important;
}

#brightnessInput{
    width: 28%;
    margin-bottom: 8px;
}

.adp img {
    width: 41%;
    margin: auto;
        margin-bottom: auto;
    margin-bottom: 10px;
}
.adp {
	display: flex;
	box-sizing: border-box;
	flex-flow: column;
	position: fixed;
	z-index: 99999;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 421px;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 5px;
}


.sliceetc a {
    padding: 6px 20px 10px 20px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    display: inline-grid;
    width: 10%;
    color: #fff;
    font-variant: all-petite-caps;
}

.sliceetc {
    margin: auto auto 20px auto;
    text-align: center;
}

.sliceetc a:hover {
    text-decoration: none;
}

.adp p {
    text-align: center;
    font-size: 18px;
}

.faqlist a {
    margin: 20px auto;
}

.adp h3 {
	border-bottom: 1px solid #eee;
	margin: 0;
	padding: 15px 0;
}
.adp p {
	 flex-grow: 1;
}
.faqlist a, .adp a {
	display: inline-block;
	text-decoration: none;
	background-color: #111;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	color: #ffffff;
	border-radius: 5px;
}
.faqlist a:hover, .adp a:hover {
	background-color: #333;
	transition: 0.6s;
}
.adp-underlay {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99998;
}

.designgeckobutton {
    padding: 5px 10px 10px 10px;
    color: #fff;
    background: #111;
    border-radius: 5px;
    width: 20%;
    display: block;
    margin: 30px auto auto auto;
    font-variant: all-petite-caps;
    font-size: 18px;
}

.choosedpi2 img {
    display: none;
}

.footer img {
}

.designgeckobutton:hover {
    color: #fff;
    background: #333;
    transition: 0.6s;
	text-decoration: none;
}

.billing-page th {
    padding-bottom: 5px;
    background: #f4f4f4;
}

.choosedpi2 {
    text-align: center;
    border: 2px solid #ccc;
    width: 50%;
    margin: auto auto 20px auto;
    padding: 20px 0px 30px 0px;
    background: #fff;
    border-radius: 5px;
}



.imagr-licenses {
    display: block;
    margin: auto !important;
    text-align: center;
}

.purchase-licenses a {
    text-transform: uppercase;
    margin-top: 20px;
}

.custom-select[multiple], .custom-select[size]:not([size="1"]) {
    height: 153px;
    padding-right: .75rem;
    background-image: none;
}

.billing-page table {
    width: 100% !important;
}

.designgecko-link {
    display: inline-block;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: -10px;
    background: #000;
    color: #fff;
    text-decoration: none;
    padding: 6px 10px 10px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-variant: all-petite-caps;
}

.included {
    color: #36b736;
    font-weight: 900;
}

.billing-page {
    padding: 5px;
    width: 17%;
    margin: auto;
	border-radius: 5px;
	display: inline-block;
}

.imagr-support{
	text-align: center;
	background: #f4f4f4;
	border: 1px solid #ccc;
	padding: 20px 20px 35px 20px;
	width: 50%;
	margin: 20px auto 30px auto;
	border-radius: 5px;
}

.billingpoints {
    font-size: 20px;
    font-variant: all-petite-caps;
    font-weight: 600;
}

.purchaseduration {
    font-size: 25px;
    font-variant: all-petite-caps;
}

.purchase-licenses {
    text-transform: uppercase;
	margin-top: 20px;
}

.purchaseprice td {
    border-left: 2px solid #111;
    border-right: 2px solid #111;
}

.purchase-licenses td{
    border-left: 2px solid #111;
    border-right: 2px solid #111;
	border-bottom: 2px solid #111;
}

.billingpoints td {
    padding: 5px !important;
    border-left: 2px solid #111;
    border-right: 2px solid #111;
}

.billing-page th {
    border: 2px solid #111!important;
    padding-bottom: 5px;
    background: #111;
    color: #fff;
    border: 2px solid #444;
}

.purchase-licenses a {
    border: 2px solid #111;
	border-radius: 5px;
    background: transparent;
	padding: 10px;
	font-weight: 600;
    display: block;
    width: 50%;
    margin: 20px auto 20px auto;
	color: #111;
}
.purchase-licenses a:hover {
    text-decoration: none;
	color: #36b736;
	border: 2px solid #36b736;
	transition: 0.6s;
	background: #fff;
}

.supportimagrtext{
font-size: 20px;
}

.supportimagrheadline{
	font-weight: 600;
	font-size: 30px;
}

.btn{
    padding-left:5px;
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    cursor: pointer;
    border-top-style: none;
    border-left-style: none;
    border-bottom-style: solid !important;
    border-right-style: solid !important;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.zoom-slider label {
    display: block;
    text-align: center;
	margin-top: 30px!important;
	font-variant: all-petite-caps;
	font-size: 18px;
	font-weight: 600;
	margin-left: 0px!important;
}

.designgecko-link:hover {
text-decoration: none;
color: #fff;
background: #333;
transition: 0.6s;
}

.storemessage {
    font-weight: 500!important;
}


.zoom-slider .slidecontainer {
    display: block;
    margin: auto;
    width: 15%;
    margin-top: 10px;
}

input#brightness {
    margin-bottom: 20px;
}
.p-3 {
    padding: 1rem!important;
    text-align: center;
}
.baddpivalues {
    background: #ff000070;
	color: #fff;
}

}
.dog2{
	width: 45%;
}

.restartSavecontainer #restart {
    color: #fff;
}

.restartSavecontainer #restart:hover {
    color: #fff;
    text-decoration: none;
}

.restartSavecontainer:hover {
    background: #6dd46d;
    transition: 0.6s;
    font-weight: 500;
}

.restartSavecontainer {
    text-align: center;
    margin-bottom: 20px;
    font-variant: all-petite-caps;
    background: #68e068;
    color: #fff;
    width: 27%;
    margin-left: 20%;
    border-radius: 5px;
    padding: 4px 8px 8px 8px;
    font-size: 16px;
}

.gif {
	margin-bottom: 20px;
}




.border{
	border: none!important;
	background: #222!important;
}


#CorelLaser, #lightburn {
    background: #fff;
    border-bottom: none;
}
 #inkscape, #rdworks{
    background: #fff;
    border-bottom: none;
}
.dog2-btn\" {
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 6px 10px 10px 10px;
    border-radius: 5px;
	width: 110px;
	display: block;
	margin: 10px auto 0px auto;
}

.dog2-btn\":hover {
	color: #fff;
	transition: 0.6s;
}

.dog2-compr{
	width: 50%;
	margin-top: 20px;
}

.bg-dark.text-white {
    border: none;
    padding: 5px 10px 10px 10px;
        padding-right: 10px;
        padding-left: 10px;
    border-radius: 5px;
}

#msg {
width: 100%;
}
.download-menu-list li {
    text-align: center;
    list-style: none;
    padding: 0px;
    float: none;
    margin: auto;
}

.download-menu-list li {
    padding: 2%;
}

.download-menu-list {
    display: contents;
}
.modal-header{
	font-weight: 500;
	text-align: center;
	display: block;
	font-variant: small-caps;
}
button.close{
	display: none;
}

body > form:nth-child(2) {
    text-align: center;
}


div.row:nth-child(9) > strong:nth-child(1) {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}


.footer > form:nth-child(2) > input:nth-child(3){
    width: 7%;
	margin-bottom: -14px;
}

.question img {
    width: 24%;
}

.question {
    display: inline-grid;
    font-size: 20px;
    text-align: center;
    width: 32%;
	margin-top: 20px;
}

.question img {
    margin: auto;
}

.footer {
    border-top: 1px solid #777;
    background: #232C38;
    color: #fff;
    padding-top: 1%;
    padding-bottom: 1%;
    padding: 1%;
    text-align: center
}
.centerfooter{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.update-fb-link{
	margin-top: 20px;
text-align: center;
margin-bottom: 30px;
}

.update-fb-link{
font-variant: all-petite-caps;
}


#advanced {
    background: #222;
    color: #fff;
    border: 2px solid #00c4cc;
}

.bestchoiceofdpi{
	background: #00800070;
	color: #fff;
	font-weight: 600;
	font-size: 17px;
}
.stylized select {
    margin-left: 2.5%;
    width: 51.5%;
}
}
.baddpivalues{
	color: #fff;
	background: #ff000070;
	font-weight: 300;
	font-size: 17px;
}

.mediumdpivalues{
	color: #fff;
	background: #ffa50078;
	font-weight: 300;
	font-size: 17px;
}

#dpi-mm{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.choosedpi p.solid {border-style: solid;}

.wishlist{
	border-radius: 5px;
}


.choosedpi {
    background: #222;
    width: 30%;
    margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
    border: 1px solid #777;
	margin-top: 100px;
    padding-bottom: 3%;
	padding-top: 3%;
	margin-bottom: 2%;
	color: #fff;
	text-align: center!important;
}
.homepagebutton {
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* text-align: center; */
    color: #fff;
    text-decoration: none;
    padding: 6px 10px 10px 10px;
    border-radius: 5px;
    margin-bottom: 40px;
}



#bodyHome .homepagebutton{
	margin-bottom: 10px;
}

.download-menu-list a {
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 6px 10px 10px 10px;
    border-radius: 5px;
	width: 110px;
}


button.btn-secondary {
    background: #000;
    border: none;
    padding: 6px 30px 9px 30px!important;
    border-radius: 5px;
    font-variant: all-petite-caps;
}


button.btn-secondary:hover {
    background: #333;
		transition: 0.3s;
}

.comiccontainer, .modal-footer {
    text-align: center;
    margin: auto;
    display: inline-block;
}

button.pl-5.pr-5.pt-2.pb-2.mr-3.btn-sm.btn-secondary {
    background: #000;
    font-variant: all-petite-caps;
    padding: 8px 50px 11px 50px!important;
    border-radius: 5px!important;
}

button.pl-5.pr-5.pt-2.pb-2.mr-3.btn-sm.btn-secondary:hover {
    background: #333;
	transition: 0.3s;
}

.download-menu-list a:hover{
	background: #333;
	transition: 0.6s;
}

.row{
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
summary:hover,.tasks a:hover,.homepagebutton a:hover{
	background: #333;
	transition: 0.3s;
}

.homepagebutton a,.tasks a{
font-variant: all-petite-caps;
}

summary{
	padding: 6px 10px 10px 10px;
	font-variant: all-petite-caps;
}

#homepagebackground {
    border-bottom: 2px solid #707070;
	margin-top: 0px;
}

.storemessage2 {
	font-weight: 500;
	text-align: center;
    background: #444;
    padding-top: 0.6%;
	font-variant: small-caps;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    border-top: 2px solid #00C4CC;
	border-bottom: 2px solid #00C4CC;
}

.storemessage2 a {
	background: none;
	color: #00C4CC !important;
	border: none;
	padding: 0.3%;
	text-decoration: none;
	font-size: 16px;
}

.storemessage2 a:hover {
	background: none;
	color: #00C4CC!important;
	font-weight: 600;
	border: none;
	padding: 0.3%;
	text-decoration: none;
	transition-duration: 0.5s;

}
.homepagebutton a, .tasks a {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 6px 10px 10px 10px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5px;
    align-self: center;
}
.storemessage {
    text-align: center;
    background: bisque;
    padding-top: 0.6%;
	font-variant: small-caps;
    font-weight: 300;
    font-size: 20px;
    color: #5f5f5f;
    border-bottom: 2px solid #00C4CC;
    overflow: hidden;
}
.explaination{
    width: 50%;
    margin: auto auto 20px auto;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-variant:small-caps;
    font-weight: 500;
    font-size: 18px;
}
.h3, h3 {
    font-size: 24px;
    font-variant: small-caps;
    text-align: center;
	margin-bottom: 2%;
}

.dogimg img {
	margin-left: auto;
	margin-right: auto;
	display: block;
    margin-bottom: 2%;
    width: 30%;
}

.flashes > li:nth-child(1){
	display: none;
}
.col-6 {
    margin: auto;
}
/*button.btn:nth-child(5) {
    display: none;
}*/
.col-6 .img-fluid {
    display: block;
    margin: auto;
}
#btn-group{
	margin-bottom: 1%;
}

.howitworkstag {
    font-weight: 600;
    line-height: 3;
	color: #fff;
}

.howitworks-list {
    color: #fff;
    list-style: none;
    line-height: 2;
}

.footer a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    font-variant: all-petite-caps;
    font-size: 18px;
}
.footer a:hover {
    color: #00c4cc!important;
	transition: 0.6s;
}
.footerLink {
    margin-top: 0%;
    margin-bottom: 0.5%;
}



.btn:hover {
	background-color: #00000003;
	transition: 0.6s;
}
#width, #height,#widthp,#heightp, #dpi {
    width: 100%;
}
#pformat-type {
    display: none;
}
.col-md-auto.col1 {
    display: none;
}
.hiddenfile {
 width: 0px;
 height: 0px;
 overflow: hidden;
}
#image-port{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    position: relative;
}

#btn-group {
    margin-left: none;
    text-align: center;
}
h2{
	text-align: center;
	font-variant: small-caps;
}
.tasks a {
    display: grid;
	width: 20%;
	margin-bottom: 2%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	text-align: center;
}
.passtrough{
width: 40%;
margin-bottom: 20px;
}
summary {
    display: list-item;
    cursor: pointer;
    list-style: none;
    background: #000;
    width: 20%;
    margin: 20px auto 20px auto;
    color: #fff;
	border-radius: 5px;
}

.CorelLaserImage{
margin-bottom: 20px;
}

.tasks {
	border-bottom: 5px solid #ccc;
	padding-bottom: 3%;
}
.ueberschrift-prep {
    width: 60%;
    background: #fff;
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
	text-align: center;
}

div#preparetiles {
    background: #fff;
    padding-top: 1%;
    padding-bottom: 3%;
	font-variant: small-caps;
}

div#prepareacryl {
    background: #f4f4f4!important;
    padding-top: 1%;
    padding-bottom: 3%;
	font-variant: small-caps;
}

div#prepareblackmarble {
    background: #fff;
    padding-top: 1%;
    padding-bottom: 3%;
	border-radius: 18px;
	font-variant: small-caps;
}

div#paintedwood {
    background: #f4f4f4;
    padding-top: 1%;
    padding-bottom: 3%;
}

p {
	font-variant: small-caps;
}
.small-font{
      font-size: 14px;
       line-height: 1.428;
  }
  .modal-dialog {
    width: auto !important;
  }


  /* TEST */

  .row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 1653px) {
.home-menu a {
    font-size: 16px;
    display: inline-block;
}}

@media screen and (max-width: 1200px) {
.ueberschrift-prep{
    width: 80%;
}

.update-fb-link p {
    font-size: 18px!important;
    margin-top: 12px;
}
    .storemessage p {
    margin-top: 1%;
    font-size: 90%;
}

.slicersettings {
    width: 80%;
}

    .current {
        margin-top: 20px;
        margin-bottom: -20px;
    }
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  #dpi-mm {
      width: 85%!important;
  }

  	.mobile1 {
    display: flex!important;

  	}

  .logo img {
    margin: -40px 0px;

  }

.whatsimagr h2 {
    margin: 20px 0px 0px 0px!important;
}

.whatsimagr p {
    width: 76%!important;
}

.adshorizontal2 {
    margin-bottom: 10px;
}


    h2 {
        font-size: 1.5em;
        margin-top: 20px;
    }


    .zoom-slider .slidecontainer {
        width: 60%;
    }

    h3 {
        font-size: 1em;
    }

.footer > form:nth-child(2) > input:nth-child(3) {
    width: 20% !important;
    margin-bottom: -12px;
    margin-top: 10px;
}

.logo img {
    width: 25%;
    margin-bottom: -20px;

}

.btn img {
    width: 70px;
}

.btn {
    width: 80px;
    height: 80px;
    margin-top: 20px;
}

.designgecko-link, .faqlist a, .adp a {
    padding: 7px 10px 10px 10px;
}

    .storemessage p {
    margin-top: 1.5%;
    font-size: 90%;
}

.slicersettings {
    width: 50%;
}

  .ueberschrift-prep, .choosedpi {
    padding: 20px;
    width: 50%;
    margin-top: 10px;
}

.slicer-explanaiton , .imagr-support, .explaination, .faqimagr {
    width: 80%;
}

  .tasks a {
      width: 30%;
  }
}

@media only screen and (max-width: 800px) {    .vertical { width: 160px; height: 600px;} .googleadsright-scan{ padding-right: 0px!important; }.googleadsleft-scan{ padding-left: 0px!important; }}


@media only screen and (max-width: 600px) {

.mobile-logo {
    background: #000;
    padding-bottom: 10px;
    padding-top: 10px!important;
}

.box-img {
    width: 100%;
    padding-top: 0px;
    height: 100% !important;
}

#homepagebackground {
    border-bottom: 2px solid #707070;
    margin-top: 77px;
}

.menu-links {
    margin-top: 0px;
}

.vertical { display: none!important;}

}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

.update-fb-link p {
    font-size: 14px;
}

.footer {
    display: block;
}

.footer > form:nth-child(2) > input:nth-child(3) {

    margin-top: 0px;

}

.whatsimagr h2 {
    margin-top: 30px!important;
}


  .sliceetc a {
      width: 26%;
  }

.footer > form:nth-child(2) > input:nth-child(3) {
    width: 25% !important;
    margin-bottom: -10px;
    margin-top: 0px;
}

  .explaination p {
    font-size: 14px;
}

.slicer-explanaiton ,.imagr-support, .slicersettings {
    width: 100%;
}

.current {
    margin-top: 20px;
    font-size: 15px!important;
    margin-bottom: -20px;
}

.current h5 {
    font-size: 16px!important;
}

.current h3 {
    font-size: 18px!important;
}

 .btn img {
    width: 50px;
}

.btn {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: -10px;
}

  #dpi-mm {
      width: 85%!important;
  }

 .choosedpi {
    padding: 20px;
    width: 100%!important;
}

 .whatsimagr p {
    padding: 10px;
    width: 90%!important;
}

  summary{
      width: 30%;
  }
}

#comicDIV, #sharpenDIV, #mirrorDIV, #invertDIV, #brightnessDIV, #contrastDIV {
    margin: 10px auto 0px auto !important;
    display: none;
    float: none !important;
    text-align: center;
}
.displayDiv{
    display: table !important;
}

#contrastDIV{
margin-bottom: 20px!important;
}

#comicDIV{
margin-top: 0px!important;
}


.advancedbtncontainer {
    margin: 20px auto;
    display: block!important;
    text-align: center;
}
.save_effect:hover,#mySidebar > button:hover {
    background: #00C4CC;
    transition: 0.6s;
	color: #fff;
}

#mySidebar .btn-comic-delete:hover, #mySidebar .btn-comic-apply:hover, .apply_sharpen:hover{
    background: #222;
    transition: 0.6s;
}

.unsharpmasksettings {
    margin-bottom: 10px;
}

.advancedbtncontainer > button {
    border: 0;
    color: #fff;
    background: #111;
    padding: 10px 20px 12px 20px;
    font-variant: all-petite-caps;
    border-radius: 5px;
    width: 45%;
}

#headlineAdvanced {
    color: #fff !important;
    font-size: 30px;
    border: 2px solid #fff;
    margin: auto;
        margin-top: auto;
        margin-bottom: auto;
    text-align: center;
    display: block;
    width: 83%;
    padding: 0px 15px 5px 15px;
    margin-bottom: 20px;
    margin-top: -38px;
    background: #000;
}

#headlineAdvanced {
    background: transparent;
    border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
    border-bottom: 2px solid #00c4cc;
}

.comiccontainer > button, .modal-footer {
        width: 100%;
    }

#mySidebar .btn-comic-delete, #mySidebar .btn-comic-apply {
    border: none;
    color: #fff;
    background: #333;
    font-variant: all-petite-caps;
    border-radius: 5px;
    padding: 4px 10px 6px 10px;
    margin: 2%;
    margin-bottom: 0;
}

.comicall {
    display: grid;
    margin: auto;
        margin-bottom: auto;
    text-align: center;
    margin-bottom: 40px;
}

#mySidebar > button {
    margin: 2% auto 0px auto;
    display: block;
    padding: 8px 10px 10px 10px;
    width: 67%;
    border: 1px solid #00c4cc;
    border-radius: 5px;
    color: #00C4CC;
    background: transparent;
    font-variant: all-petite-caps;

}

 /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
.apply_sharpen {
    border: none;
    margin: auto;
        margin-top: auto;
    text-align: center;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    background: #333;
    color: #fff;
    padding: 5px 10px 7px 10px;
    font-variant: all-petite-caps;
}

.unsharpmasksettings {
    text-align: center;
}



.unsharpcontainer {
    margin: auto;
    display: block;
    text-align: center;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

 /* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  border-right: 2px solid #00C4CC;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-variant: all-petite-caps;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

.squarecrop {
    color: #fff;
    font-variant: all-petite-caps;
    font-size: 18px;
    margin: 1%;
}

.switchSlider.round {
    background: transparent;
    border: 1px solid #00c4cc;
    margin-top: -5px;
}

#mySidebar label {
    color: #fff;
    font-weight: 600;
    font-variant: all-petite-caps;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: -20px;
    right: -2px;
    font-size: 36px;
    margin-left: 50px;
    color: #111 !important;
	display: none;
}

/* The button used to open the sidebar */
.openbtn {
  border-radius: 5px;
  font-variant: all-petite-caps;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 7px 15px 12px 15px;
  border: none;
}

.openbtn {
    position: absolute;
    top: 79px;
    right: 80px;
    z-index: 999;
}

.openbtn:hover {
  background-color: #444;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.advancedbtncontainer {
    display: flex;
    width: 100%;
    background: transparent;
    padding: 10px 10px 0px 10px;
    width: 85%;}

.btn-comic-apply:hover {
  background: #27bd27;
  transition: 0.6s;
}

.btn-comic-delete:hover {
  background: #ff4545;
  transition: 0.6s;
}

.btn-comic-delete {
  margin: -1% 1% 0% 1%;
  background: red;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px 8px 10px;
  font-variant: all-petite-caps;
}
.btn-comic-apply {
  margin: -1% 1% 0% 1%;
  background: #00c4cc;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px 8px 10px;
  font-variant: all-petite-caps;
}

.comiclabel {
  margin: auto;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-variant: all-petite-caps;
  font-weight: 600;
  margin-bottom: -8px;
}

.comiccontainer {
  float: none;
  margin: auto;
  text-align: center;
  padding: 20px 0px 0px 0px;
  font-weight: 600;
  font-variant: all-petite-caps;
  display: block;
  margin-bottom: -20px;
}


.sliders.show_sliders {
  width: 234px;
}

.apply_sharpen {
  margin-top: 10px;
  margin-bottom: 5px;
}

.checkboxcontainer-2 {
  margin: auto !important;
  text-align: center;
  float: none;
}

.roundedgesbtn {
  color: #fff;
  background: #000;
  border-radius: 5px !important;
  padding: 0px 10px 5px 10px;
  font-variant: all-petite-caps;
  margin-top: 5px;
}
.roundedges {
    background: #222;
    padding: 20px 0px 20px 0px;
    border-radius: 5px;
    margin-bottom: 12px;
    width: 76%;
    margin: 0px auto 12px auto;
    color: #fff;
    border: 1px solid #777;
}

.roundedgesbtn:hover{
  background: #333;
  transition: 0.6s;
}

.advancedslider {
  margin-bottom: -34px;
  display: flex;
  float: right;
  margin-top: -33px;
  margin-right: 130px;
}

.col-6{
  overflow: hidden;
}
.img{
  transition: all 0.4s ease;
  cursor: move;
  position: relative;
}
.current{
  font-size: 20px;
}
.current h5{
  display: inline;
  padding-left: 15px;
}
/*The style for the flash messages*/
.flash{
  text-align: center;
  font-variant: all-petite-caps;
  margin-bottom: -2px;
  margin-top: 20px;
  background: #000;
  color: #fff;
}
/*These are the styles for the sliders*/
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #00c4cc;
  cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(255,194,114);
    background: #00C4CC !important;
    cursor: pointer;
}

input:checked + .switchSlider {
    background-color: #00C4CC!important;
}


.sliders{
  float: right;
  margin-top: 0;
  visibility: hidden;
  opacity: 0;

}
.show_sliders{
  visibility: visible;
  opacity: 1;
  transition: opacity 500ms linear visibility 0s linear
}
.sliders label {
  display: inline-block;
  font-variant: all-petite-caps;
  font-weight: 600;
}

.slidecontainer{
  display: inline-block;
}




.advanced{
  width: 172px!important;
  margin-top: 17px;
  margin-left: auto!important;
  margin-right: auto!important;}

.advanced, .save_effect, .reset_default{
  padding: 6px 10px 8px 10px;
  background-color:#000;
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
  border: none;
  font-variant: all-petite-caps;
  color: #fff;
}

.apply_sharpen {
  margin: 10px auto;
}

.advanced:hover, .save_effect:hover, .reset_default:hover{
  background-color:#333;
  transition: 0.6s;
}

.explaination {
  margin-top: 30px !important;
}

.checkboxcontainer {
  display: inline-block;
  float: right;
  padding: 0px 10px;
}

.advanced:focus{
  outline: none;
  box-shadow: none;
}

.reset_default {
  margin-top: 7px;
}

.save_effect {
  margin-top: 7px;
}

.show_save{
  display: inline-block;
}

.advanced_label {
  display: inline-block;
  margin-left: 30px;
  width: 90px;
}

.advanced_checkbox{
  height: 25px;
  width: 25px;
  margin-right: 5px;
  margin-top: 3px;
}

#bodyHome.modal-open .sliders.show_sliders{
  width: 232px;
}

#unsharp {
  text-align: center;
  width: 40% !important;
}

.sliders.show_sliders .unsharpmasksettings {
  display: block!important;
}

.reset_default.show_save {
  width: 40%;
}

.save_effect.show_save {
  width: 40%;
}

.sliders.show_sliders label {
  text-align: center;
}

.advanced {
  width: 155%;
  margin-bottom: 16px;
}

.checkboxes {
  margin: auto;
}

.sliders.show_sliders {
  display: grid;
  margin: -346px auto 0px auto !important;
  position: absolute;
  margin-top: -185px;
  margin-right: 30px;
  margin-bottom: auto;
  margin-left: 30px;
  float: none;
  background: #f5f5f5;
  padding: 1%;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

#roundedges {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -3px;
}

.roundedges label{
  font-variant: all-petite-caps;
  font-weight: 600;
}

#mySidebar .btn-comic-apply:hover, .apply_sharpen:hover {
  background: #00c4cc;
  transition: 1s;
}

#mySidebar .btn-comic-delete:hover {
  background: red;
  transition: 2s;
}

.download-menu-list a {
  width: 35% !important;
  display: block ruby;
  margin: auto;
  padding-top: 8px;
  font-variant: all-petite-caps;
}
.modal-body .row{

	border: none;

}

.modal-header {
font-weight: 500;
text-align: center;
display: block;
font-variant: small-caps;
border: 1px solid #777;
border-bottom: none;
font-weight: 600;
color: #fff;
}

/*Css for loader*/
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid red;
  border-right: 16px solid #00C4CC;
  border-bottom: 16px solid yellow ;
  border-left: 16px solid green;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  left: 50%;
  top: 25%;
  position: absolute;

}
.loaderText{
    left: 50%;
    top: 30%;
    position: absolute;
    font-weight: 700;

}
.loaderDiv{
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f7f4;
    opacity: .5;
    z-index: 1;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#advanced {
    position: fixed !important;
    float: left !important;
    right: 1%;
    top: 6%;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switchSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switchSlider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.puzzlemakertable input {
    margin: auto;
    text-align: center;
}

input:checked + .switchSlider {
  background-color: #2196F3;
}

input:focus + .switchSlider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switchSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switchSlider.round {
  border-radius: 34px;
}

.switchSlider.round:before {
  border-radius: 50%;
}

a.buttonpuzzle:hover {
	transition: 0.6s!important;
    background: linear-gradient(45deg, rgb(142 207 255) 0%, rgb(0 249 255) 100%)!important;
}

a.buttonslicer:hover {
    background: linear-gradient(0deg, rgba(164,46,237,1) 0%, rgb(188 152 216) 100%)!important;
}


/*********************** ADVANCED TAB STYLING BEGINS ****************************/
/* Style the tab */
.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*grid-template-columns: 33% 33% 33%;*/
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/*.tablink1{
    grid-column: 1/2;
}
.tablink2{
    grid-column: 2/3;
}*/
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 100%;
}

.tab {
    border: 0px;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
	border-top: 1px solid #777;
}

#sketch-material-select,select#new-material-select ,select#norton-material-select {
    background: #222;
    color: #fff;
    border: 1px solid #777;
}

.tab:hover {

}

/* Style the tab content */
.tabcontent{
  display: none;
  padding: 6px 12px;
  border-top: none;
}
/********************** ADVANCED TAB STYLING END *****************************/


.custom_btn{
    display: inline-block;
    margin: 0;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.user_btns{
    position: relative;
    float: right;
    margin-right: 10px;
}

/*****************BASE.HTML MENU TOGGLE BUTTON **********************************/
.top-nav{
    display: none;
}
/* Style navigation menu links */

.top-nav {
    top: 0 !important;
}


.top-nav a {
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-size: 17px;
}

.fa.fa-bars {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 22px;
}

#mobile-menu {
    margin-top: 20px;
    border-top: 2px solid #444;
}


/* Style the hamburger menu */
#toggleIcon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 200; /*Should be higher than the list... LOL*/
}

.mobile{
    display: none;
    background-color: #111111;
    z-index: 100; /*An absurd value to overlay all widgets*/
}
.menu{
    position: absolute;
    width: 100%;
    font-size: 13px;
    line-height: 20px;
}
.menu-links  a{
    display: block;
    width: 100%;
    padding-bottom: 0;
    border-right: 0;
    position: relative;
    float: left;
}

.mobile-logo{
    text-align: center;
    padding-top: 10px;
}

.mobile-logo img{
    width: 25%;
}



/*****************************RESPONSIVE CSS FOR MOBILE**********************************/
@media all and (max-width: 600px){

    .explaination, .faqimagr, .imagr-support, .ueberschrift-prep, .choosedpi, .form-frame, .puzzlemakertable, .container{
        width: 100% !important;
    }

    .storemessage{
        font-size: 15px;
    }

    .storemessage p{
        margin-top: 10px;
    }

    .top-nav{
        display: block;
    }

    .home-menu, .logo{
        display: none;
    }
}




@media only screen and (max-width: 600px) {

.box-caption {
font-size: 30px!important;
}

h2.imagr-home-h2 {
    font-size: 23px;
    color: #fff;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 30px;
}

.mobile-logo {
    background: #000;
    padding-bottom: 6px;
}
.mobile-logo {
    background: #000;
    padding-bottom: 6px;
    margin-bottom: -20px;
}

.fiveeasysteps li {
    display: inline-block;
    margin: 1%;
    width: 44% !important;
}

.fiveeasysteps {
    padding: 0;
}
button.new-btn {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 1px;
    color: #fff;
    width: 40%;
}

.whatsimagr2 img {
    margin-top: -12px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 12%;
}

.new-btn {
    padding: 10px 0px !important;
}

#nextmodules .whatsimagr {
    width: 93%;
}

.footer-logo {
    width: 30%;
    height: auto;
}

.mobile-logo {
    background: #000;
    padding-bottom: 10px;
    padding-top: 30px;
}

.scangap-position {
    display: block;
    text-align: center;
}

.support-footer a,.company-footer a {
    font-size: 12px;
}

.facebook-link {
    font-size: 14px !important;
}

.footer-description {
    font-size: 12px;
}

.puzzleslicer {
border: 0px!important;
border-bottom: 1px solid #00c4cc !important;
}

.puzzleslicer:hover {
    border: 0px !important;
    border-bottom: 1px solid #00c4cc !important;
}

.copyright-task {
    margin-top: 0px;
    border-top: 1px solid #777;
    padding-top: 10px;
    margin-bottom: -10px !important;
}

.whatsimagr {
    width: 93%;
    padding-bottom: 0px;
}

#watermark input {
    width: 60%;
    padding: 0px !important;
    float: inline-end;
}

.company-footer span,.support-footer span {
    font-size: 17px !important;
}

.company-footer,.support-footer {
margin: 30px;

}


.scangap-position {
display: block;
}

.mobile-logo img {
    width: 18%;
}

.choosedpi {
    padding: 30px 0px;
    margin: auto;
    width: 90% !important;
}


h1 {
    font-size: 1.5rem;
}

.scangap-text {
    color: #fff;
    margin: 5% auto;
    width: 83%;
    text-align: left;

.footer a {
    width: 26%;
    font-size: 12px !important;
}

.whatsimagr2 {
    width: 100% !important;
    display: inline-table;
    padding: 15px;
    margin-top: -4%;
}

.whatsimagr {
width: 45%;
}

#bigpreviewmodule {
    width: 93%;
}

Element {

}
.whatsimagr h2 {

    color: #fff;
    display: inline-block;
    margin-left: 10px;
    font-size: 19px;

}}